.divider {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  background: var(--color-grey);
  position: relative;
  height: 0.3rem;
}
.divider--fancy::before {
  background-color: var(--color-green);
  content: '';
  width: 5rem;
  height: 0.7rem;
  position: absolute;
}
.about-me {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.education {
  grid-column: 1;
  grid-row: 2;
}
.skills {
  grid-column: 2;
  grid-row: 2;
}
.tech-skills {
  justify-items: center;
  grid-column: 3;
  grid-row: 2;
}
