.experience {
  display: flex;
}
.experience__container {
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}
.experience__container:not(:last-of-type) {
  border-right: 0.1rem solid var(--color-grey);
}
.experience__container div {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.experience__container p {
  font-size: 1.3rem;
}

@media only screen and (max-width: 568px) {
  .experience {
    flex-direction: column;
  }
  .experience__container:not(:last-of-type) {
    border-bottom: 0.1rem solid var(--color-grey);
  }
  .experience__container:not(:last-of-type) {
    border-right: none;
  }
}
