.links {
  grid-column: 1 / 1;
  grid-row: 1;
}
.links img {
  width: 25px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.4s;
}
.links img:hover,
.links img:active,
.links img:focus {
  transform: scale(1.1);
  transition: transform 0.4s;
}
.links-container {
  display: flex;
  margin-bottom: 5px;
}
